enum {{classname}}: string
{
    /**
     * Possible values of this enum
     */
{{#allowableValues}}
{{#enumVars}}
    case {{^isString}}NUMBER_{{/isString}}{{{name}}} = {{{value}}};

{{/enumVars}}
{{/allowableValues}}
    /**
     * Gets allowable values of the enum
     *
     * @return list<string>
     */
    public static function getAllowableEnumValues(): array
    {
        return array_map(fn (self $enum): string => $enum->value, self::cases());
    }
}
